<%= render 'shared/page_title', title: 'Log in' %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= bootstrap_form_tag url: '/login' do |f| %>
      
      <%= f.email_field :email, icon: 'envelope', label_class: 'required' %>
      <%= f.password_field :password, icon: 'lock', label_class: 'required' %>
      
      <%= submit_tag 'Log in', class: 'btn btn-success btn-full-width' %>
      
    <% end %>
  </div>
</div>