<!--<%= render 'shared/errors', obj: @user %>-->

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= bootstrap_form_for @user do |f| %>
    
      <%= f.text_field :name, icon: 'user' %>
      
      <%= f.email_field :email, icon: 'envelope' %>
      
      <%- if @user.new_record? %>
        <%= f.password_field :password, icon: 'lock', label_class: 'required' %>
      <%- else %>
        <%= f.password_field :password, icon: 'lock', label_class: 'required', help: 'Leave it blank to keep it unchanged' %>
      <%- end %>
      
      <%= f.submit(@user.new_record? ? 'Register':'Edit Profile', class: 'btn btn-success btn-full-width') %>
    
    <% end %>
  </div>
</div>