
<%= render 'shared/page_title', title: 'User Listing' %>

<%= will_paginate %>

<% @users.each do |user| %>
  <div class="media">
    <div class="media-left">
      <%= link_to gravatar_for( user, size: '64x64', class: 'round media-object' ), user_path(user) %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to user.name, user_path(user) %></h4>
      <%= "joined pcisa #{time_ago_in_words(user.created_at)} ago" %>
      <br/>
      <span class="small">has <%= pluralize(user.albums.count, 'album') %> and <%= pluralize(user.photos.count, 'photo') %></span>
    </div>
  </div>
  <hr/>
<% end %>

<%= will_paginate %>