<div class="row show_user_profile">
  
  <div class="col-lg-4 col-md-4 profile_information">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile_image center">
        <%= gravatar_for( @user, size: '100x100', class: 'round' ) %>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 profile_details">
        <h3 class="user_name"><%= @user.name %></h3>
        <p class="user_email"><%= @user.email %></p>
        <span class="user_albums"><%= pluralize(@user.albums.count, 'album') %> and <%= pluralize(@user.photos.count, 'photo') %></span>
      </div>
    </div>
    <%- if current_user == @user %>
      <hr />
      <div class="row">
        <div class="col-lg-6 col-xs-6">
          <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary btn-full-width' %>
        </div>
        <div class="col-lg-6 col-xs-6">
          <%= link_to 'Log out', logout_path, class: 'btn btn-default btn-full-width' %>
        </div>
      </div>
    <%- end %>
  </div>
  
  <div class="col-lg-8 col-md-8">
    <div>
      <h1><%= (current_user == @user) ? 'My':'' %> Albums</h1>
      <hr />
      <%= link_to new_album_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-plus"></span> New Album
      <%- end %>
      
      <hr/>
    </div>
  
  
    <div id="albums_listing">
      <%- if @albums.any? %>
        <%= will_paginate @albums %>
        <%- @albums.each_with_index do |album, index| %>
          <div class="item col-lg-4 col-md-3 col-xs-6">
            <div class="card">
              <%= link_to album_path(album) do %>
                <%- if album.photos.any? %>
                  <img class="card-img-top" src="<%= album.photos.first.image.url(:gallery_thumb).to_s %>" alt="<%= album.name.to_s %>">
                <%- else %>
                  <img class="card-img-top" src="http://placehold.it/300x200" alt="placeholder">
                <%- end %>
              <%- end %>
              <div class="card-block">
                <h4 class="card-title"><%= album.name %></h4>
                <p class="card-text">
                  <span class="small"><%= "created #{'with ' + pluralize(album.photos.count, 'photo') if album.photos.any?} by #{album.user.name.to_s}, #{time_ago_in_words(album.created_at)} ago" %></span>
                </p>
                <div class="btn-group card-actions" role="group" aria-label="Image Actions">
                  <%= link_to edit_album_path(album), class: 'btn btn-default' do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <%- end %> 
                  <%= link_to album_path(album), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <%- end %>
                </div>
              </div>
            </div>
          </div>
        <%- end %>
      <%- end %>
      <%= will_paginate @albums %>
    </div>
  </div>

</div>


<script type="text/javascript">
  $album_photos = $('#albums_listing');

  // let isotope arrange images only after the images have been loaded, otherwise they are overlapped    
  $album_photos.imagesLoaded(function(){
    $album_photos.isotope({
      itemSelector: '.item',
      columnWidth: '.item'
    });
  });
  
  $('.card').hover(function(){
    $(this).find('.card-actions').show();
  }, function(){
    $(this).find('.card-actions').hide();
  });
  
</script>
  
  