<%= render 'shared/page_title', title: 'Latest...' %>

<div class="row" id="album_photos">
  <%- if @photos.any? %>
    <%- @photos.each_with_index do |photo, index| %>
      <div class="item col-lg-3 col-md-4 col-xs-6">
        <div class="card">
          <%= link_to photo.image.url.to_s, data: { lightbox: 'latest-25', title: photo.tag_line.to_s } do %>
            <img class="card-img-top" src="<%= photo.image.url(:gallery_thumb).to_s %>" alt="<%= photo.tag_line.to_s %>">
          <%- end %>
          <div class="card-block">
            <!--<h4 class="card-title"></h4>-->
            <p class="card-text">
              <b><%= photo.tag_line.to_s %></b>
              <br/>
              <span class="small">uploaded by <%= link_to photo.user.name, user_path(photo.user) %> in <%= link_to photo.album.name, album_path(photo.album) %>, <%= "#{time_ago_in_words(photo.created_at)} ago" %></span>
            </p>
            <%- if current_user == photo.user %>
              <div class="btn-group card-actions" role="group" aria-label="Image Actions">
                <%= link_to edit_album_photo_path(photo.album, photo), class: 'btn btn-default' do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <%- end %> 
                <%= link_to album_photo_path(photo.album, photo), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <%- end %>
              </div>
            <%- end %>
          </div>
        </div>
      </div>
    <%- end %>
  <%- end %>
</div>

<div class="well">
  <h1 class="center">You can also...</h1>
  <p class="center">Sign Up to create your own Unlimited Albums.</p>
  <%= link_to register_path, class: 'btn btn-success btn-full-width' do %>
    Sign Up now <span class="glyphicon glyphicon-chevron-right"></span>
  <%- end %>
</div>

<script type="text/javascript">
  /** let isotope arrange images only after the images have been loaded,
   * otherwise they are overlapped
   */
  $album_photos = $('#album_photos');
  $album_photos.imagesLoaded(function(){
    $album_photos.isotope({
      itemSelector: '.item',
      columnWidth: '.item'
    });
  });
  
  // The Actions button on the image card
  $('.card').hover(function(){
    $(this).find('.card-actions').show();
  }, function(){
    $(this).find('.card-actions').hide();
  });
  
</script>