<!--<%= render 'shared/errors', obj: @album %>-->

<%= bootstrap_form_for @album do |f| %>
  
  <%= f.text_field :name %>
  
  <%= f.check_box :private, help: 'Tick if you want this album to be personal. Means only you can view its images' %>
  
  <%= f.submit(@album.new_record? ? 'Create Album':'Edit Album', class: 'btn btn-success btn-full-width') %>
  
<%- end %>