<%= render 'shared/page_title', title: 'Edit Album' %>

<%= link_to album_path(@album), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-chevron-left"></span> Back to Album
<%- end %>

<%= link_to album_path(@album), method: :delete, data: { confirm: 'All photos of this album will be deleted! Changes are irreversible. Are you sure?' }, class: 'btn btn-default pull-right' do %>
  <span class="glyphicon glyphicon-trash"></span> Delete Album
<%- end %>

<hr/>

<%= render 'form' %>