<%= render 'shared/page_title', title: 'My Albums' %>

<%= will_paginate %>

<%= link_to new_album_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-plus"></span> New Album
<%- end %>

<hr/>

<div class="row" id="albums">
  <%- if @albums.any? %>
    <%- @albums.each_with_index do |album, index| %>
      <div class="item col-lg-3 col-md-4 col-xs-6">
        <div class="card">
          <%= link_to album_path(album) do %>
            <%- if album.photos.any? %>
              <img class="card-img-top" src="<%= album.photos.first.image.url(:gallery_thumb).to_s %>" alt="<%= album.name.to_s %>">
            <%- else %>
              <img class="card-img-top" src="http://placehold.it/300x200" alt="placeholder">
            <%- end %>
          <%- end %>
          <div class="card-block">
            <h4 class="card-title"><%= album.name %></h4>
            <p class="card-text">
              <span class="small"><%= "#{'has ' + pluralize(album.photos.count, 'photo') + ', ' if album.photos.any?}created #{time_ago_in_words(album.created_at)} ago" %></span>
            </p>
            <%- if current_user == album.user %>
              <div class="btn-group card-actions" role="group" aria-label="Image Actions">
                <%= link_to edit_album_path(album), class: 'btn btn-default' do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <%- end %> 
                <%= link_to album_path(album), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <%- end %>
              </div>
            <%- end %>
          </div>
        </div>
      </div>
    <%- end %>
  <%- end %>
</div>

<%= will_paginate %>

<script type="text/javascript">
  $album_photos = $('#album_photos');

  // let isotope arrange images only after the images have been loaded, otherwise they are overlapped    
  $album_photos.imagesLoaded(function(){
    $album_photos.isotope({
      itemSelector: '.item',
      columnWidth: '.item'
    });
  });
  
  $('.card').hover(function(){
    $(this).find('.card-actions').show();
  }, function(){
    $(this).find('.card-actions').hide();
  });
  
</script>