<%= render 'shared/page_title', title: 'New Album' %>

<%= link_to albums_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-chevron-left"></span> My Albums
<%- end %>

<hr/>

<%= render 'form' %>