<%= render 'shared/page_title', title: @album.name %>

<div class="row">
  <div class="col-xs-12">  
    <span class="small">
      <%= "has #{pluralize(@album.photos.count, 'photo')}, created by #{@album.user.name}, #{time_ago_in_words(@album.created_at)} ago" %>
    </span>
    <hr />
    <%- if current_user == @album.user %>
      <div class="btn-group" role="group">
        <%= link_to edit_album_path(@album), class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-pencil"></span> Edit album
        <%- end %>
        <%= link_to album_path(@album), method: :delete, data: { confirm: 'All photos of this album will be deleted! Changes are irreversible. Are you sure?' }, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-trash"></span> Delete album
        <%- end %>
      </div>
      <% if @album.photos.count < 25 %>
        <%= link_to '#photo-dropzone', class: 'btn btn-default pull-right' do %>
          <span class="glyphicon glyphicon-plus"></span> Upload Photos
        <%- end %>
      <%- else %>
        <hr/>
        <div class="alert alert-danger">You have reached the limit of <strong>25</strong> images for this album. Delete some to add new.</div>
      <%- end %>
    <%- end %>
  </div>
</div>

<br/>

<div class="row" id="album_photos">
  <%- if @album.photos.any? %>
    <%- @album.photos.each_with_index do |photo, index| %>
      <div class="item col-lg-3 col-md-4 col-xs-6">
        <div class="card">
          <%= link_to photo.image.url.to_s, data: { lightbox: @album.name.parameterize, title: photo.tag_line.to_s } do %>
            <img class="card-img-top" src="<%= photo.image.url(:gallery_thumb).to_s %>" alt="<%= photo.tag_line.to_s %>">
          <%- end %>
          <div class="card-block">
            <h4 class="card-title"></h4>
            <p class="card-text">
              <%- unless photo.tag_line.blank? %>
                <b><%= photo.tag_line.to_s %></b>
              <%- else %>
                <b><%= (index+1).ordinalize %> Image</b>
              <%- end %>
              <br/>
              <span class="small"><%= "#{time_ago_in_words(photo.created_at)}" %> ago</span>
            </p>
            <%- if current_user == @album.user %>
              <div class="btn-group card-actions" role="group" aria-label="Image Actions">
                <%= link_to edit_album_photo_path(@album, photo), class: 'btn btn-default' do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <%- end %> 
                <%= link_to album_photo_path(@album, photo), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <%- end %>
              </div>
            <%- end %>
          </div>
        </div>
      </div>
    <%- end %>
  <%- end %>
</div>

<br />

<%- if current_user == @album.user %>
  <div class="row">
    <div class="col-xs-12">
      <%- if @album.photos.count < 25 %>
        <%= form_for [@album, Photo.new], :html => { id: 'photo-dropzone', class: :dropzone, multipart: true } do |f| %>
          <%= f.hidden_field :image %>
          <div class="dz-message needsclick">
            Drop files here or click to upload.
          </div>
        <%- end %>
      <%- end %>
    </div>
  </div>
<%- end %>

<script type="text/javascript">
  /** let isotope arrange images only after the images have been loaded,
   * otherwise they are overlapped
   */
  $album_photos = $('#album_photos');
  $album_photos.imagesLoaded(function(){
    $album_photos.isotope({
      itemSelector: '.item',
      columnWidth: '.item'
    });
  });
  
  /** Dropzone config options
   * Allow user to only upload upto 25 files per album
   */
  Dropzone.options.photoDropzone = {
    maxFiles: <%= 25 - @album.photos.count %>,
    maxFilesize: 5,
    acceptedFiles: 'image/*',
    init: function() {
      var dropzone = this;
      
      this.on('maxfilesexceeded ', function(){
        alert_html = '<div class="alert alert-danger alert-dismissable">' +
          '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
            '<span aria-hidden="true">&times;</span>' +
            'You can only upload max <strong>25</strong> files' +
          '</button></div>';
          console.log(dropzone, alert_html);
        dropzone.prepend(alert_html);
      });
    }
  };
  
  // The Actions button on the image card
  $('.card').hover(function(){
    $(this).find('.card-actions').show();
  }, function(){
    $(this).find('.card-actions').hide();
  });
  
  /** wrap around the images
   * If true, when a user reaches the last image in a set, the right navigation 
   * arrow will appear and they will be to continue moving forward which will 
   * take them back to the first image in the set.
   */
  lightbox.option({
    'wrapAround': true
  });
    
</script>