<%= render 'shared/page_title', title: 'Edit Photo' %>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <%= bootstrap_form_for [@album, @photo] do |f| %>
  
      <div class="row">
        <div class="col-xs-6">
          <%= image_tag(@photo.image.url, alt: "#{@album.name} image ##{@photo.id.to_s}", class: 'img-responsive', data: { lightbox: @album.name.parameterize } ) if @photo.image? %>
        </div>
        <div class="col-xs-6">
          <%= f.text_field :tag_line, hide_label: false, append: f.submit('Save', class: 'btn btn-primary') %>
          
          <span class="small"><%= time_ago_in_words(@photo.created_at) %> ago in <b><%= link_to @album.name, album_path(@album) %></b></span>
          <hr/>
          <div class="btn-group" role="group">
            <%= link_to album_path(@album), class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-chevron-left"></span> <%= "Back to #{@album.name}" %>
            <%- end %>
            <%= link_to album_photo_path(@album, @photo), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-trash"></span> Delete
            <%- end %>
          </div>
        </div>
      </div>
      
    <%- end %>
  </div>
</div>
