<%= render 'shared/page_title', title: 'View Photo' %>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <%= image_tag(@photo.image.url, alt: "#{@album.name} image ##{@photo.id.to_s}", class: 'img-responsive', data: { lightbox: @album.name.parameterize } ) if @photo.image? %>
      </div>
      <div class="col-xs-6">
        <h3><%= @photo.tag_line %></h3>
        <span class="small"><%= time_ago_in_words(@photo.created_at) %> ago in <b><%= link_to @album.name, album_path(@album) %></b></span>
        <hr/>
        <div class="btn-group" role="group">
          <%= link_to album_path(@album), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-chevron-left"></span> <%= "Back to #{@album.name}" %>
          <%- end %>
          <%= link_to edit_album_photo_path(@album, @photo), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-pencil"></span> Edit Photo
          <%- end %>
        </div>
      </div>
    </div>
  </div>
</div>
