@import "bootstrap-sprockets";
@import "bootstrap";

@import "dropzone/dropzone";

body { padding-top: 70px; } /* fixed navbar(50px height) will overlay contents so padding */

.center {
  text-align: center;
}

.round {
  border-radius: 100%;
}

.gray {
  color: gray;
}

label.required:after {
  content:" *";
}

.btn-full-width {
  width: 100%;
}

.thumbnail {
  margin-bottom: 10px;
  padding: 0;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
  
  &.dz-max-files-reached {
    border: 2px solid red;
  }
  
  .dz-message {
    font-weight: 400;
    font-size: xx-large;
    color: rgba(0,0,0,0.3);
  }
}

.show_user_profile {
  
  .profile_information {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    
    .user_email {
      color: rgba(0,0,0,0.6);
    }
    
    .user_albums {
      color: rgba(0,0,0,0.7);
    }

  }
  
  .albums_listing {
    
  }

}

@media (max-width: 768px) {
  .show_user_profile {
    .profile_information {
      .profile_details {
        text-align: center;
      }
    }
  }
}

h3 {
  &.user_name {
    margin-top: 10px;
  }
}

.card {
  overflow: hidden;
  border: 0px;
  border-radius: 0.35rem;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  margin-bottom: 1.75rem;
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-text {
    font-size: medium;
  }
  
  .card-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
}
