<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">PCISA</a>
    </div><!--/.navbar-header-->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="<%= browse_albums_path %>"><span class="glyphicon glyphicon-th"></span> Browse Albums</a></li>
        <%- if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Albums <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <%- if current_user.albums.any? %>
                <%- current_user.albums.each do |album| %>
                  <li><a href="<%= album_path(album) %>"><span class="glyphicon glyphicon-picture"></span> <%= album.name %></a></li>
                <%- end %>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">ACTIONS</li>
              <%- end %>
              <li><a href="<%= albums_path %>"><span class="glyphicon glyphicon-list-alt"></span> My Albums</a></li>
              <li><a href="<%= new_album_path %>"><span class="glyphicon glyphicon-plus"></span> New Album</a></li>
            </ul>
          </li>
        <%- else %>
          <li><a href="<%= register_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <%- end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <%- if logged_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= gravatar_for( current_user, size: 20, class: 'round profile-icon' ) %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= user_path(current_user) %>"><span class="glyphicon glyphicon-user"></span> View Profile</a></li>
              <li><a href="<%= edit_user_path(current_user) %>"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a></li>
              <li role="separator" class="divider"></li>
              <!--<li class="dropdown-header">Nav header</li>-->
              <li><a href="<%= logout_path %>"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            </ul>
          <%- else %>
            <li><a href="<%= login_path %>"><span class="glyphicon glyphicon-log-in"></span>  Log in</a></li>
          <%- end %>
        </li>
      </ul><!--/.navbar-right-->
    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</nav><!--/.navbar-->